body {
    margin: 0;
    padding: 0;
    direction: rtl;

}

/* navbar  */
header {
    background-image: url(../img/e6f2db640d6f4783a1167f24e693b513.jpg);
    background-size: cover;
    height: 34rem;

}

.navbar {
    background-color: rgb(104, 144, 56) !important;
    height: 6rem;
    position: relative;
    top: 2rem;
}

.title-header {
    width: 100%;
    text-align: center;
    margin-top: 9rem;
}

header .title-header p {
    color: #689038;
    font-size: 17pt;
    font-family: inherit;
    font-weight: bolder;
}

header .title-h1 {
    text-align: right;
    display: inline-block;
    padding-right: 10rem;
}

header .title-h1 h1 {
    font-family: inherit;
    color: #4a4949;
    margin-bottom: 1rem;
}

header .btn-header {
    width: 84%;
    padding-top: 2rem;
}

header .btn-header a {
    font-size: 12pt;
    font-family: inherit;
    color: #787878;
    font-weight: bolder;
    text-decoration: none;
}

header .btn-header a:hover {
    cursor: pointer;
    color: rgb(104, 144, 56);
}

header .container-fluid a {
    padding: 0 33px;
}

header .container-fluid .navbar-brand {
    color: white;
    font-size: 12pt;

    margin: 0;
    border-bottom: 2px solid white;
}

header .container-fluid .nav-item .nav-link {
    color: white;
    font-size: 12pt;
    font-family: inherit;
    font-weight: initial;

}

header .container-fluid .nav-item .nav-link:hover {
    color: white;
    border-bottom: 2px solid white;
    transition: width 0.3s;
}

.header-right {
    width: 24%;
}

header .header-right span {
    color: white;
    font-size: 16pt;
    font-family: inherit;

}


/* mojavez start */
.mojavez .title-right-mojavez span:nth-child(1) {
    margin-top: 8rem;
}

.mojavez .title-right-mojavez span {
    display: block;
}



.mojavez .title-right-mojavez span.title-mojavez {
    display: block;
    font-size: 24pt;
    position: 0 0 114px 0;
    font-family: inherit;
    font-weight: bold;
    padding: 0 114px 0 0;
}

.mojavez .title-right-mojavez .title-buttom-mojavez {
    padding: 26px 108px 2px 5px;
    text-align: justify;
    font-family: inherit;
    color: #858585;
}

.mojavez .image-left-mojavez img {
    width: 100%;
    margin-top: 5rem;
}

/* mojavez end */

/* Nutrition-program start*/
.Nutrition-program .program {
    text-align: center;
    margin-top: 3rem;
}

.Nutrition-program .program p {
    font-size: 12pt;
    font-family: inherit;
    color: rgb(30, 52, 35);
    margin-bottom: 4rem;
}

.Nutrition-program .program p:hover {
    color: rgb(143, 182, 96);
    cursor: pointer;
}

/* Nutrition-program end */


/* Call for advice start */
.Call-for-advice {
    background-image: url(../img/back.jpg);
    width: 100%;
    height: 487px;
    background-position: bottom;

}

.Call-for-advice .call-title h3 {
    font-size: 29pt;
    font-family: B koodak;
    color: #3c3c3c;
    margin: 73px 37px 5px 1px;
}

.Call-for-advice .call-title span {
    font-size: 13pt;
    font-family: inherit;
    color: #746f6f;
    position: relative;
    display: block;
    text-align: justify;
    padding: 10px 39px;
}

.Call-for-advice .btn-Call {
    border: 1px solid #98bb6d;
    width: 35%;
    height: 45px;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    font-family: inherit;
    background-color: rgb(143, 182, 96);
    color: white;
    font-weight: 600;
    font-size: 11pt;
    margin: 33px 33px 1px 5px;
}

.Call-for-advice .btn-Call:hover {
    cursor: pointer;
    background: #253c2a;
    transition: all ease-in-out .4s;
    border: 1px solid #253c2a;
}

/* Call for advice end */

/* famous-package-title-top */
.famous-package .famous-package-title-top {
    text-align: center;
}

.famous-package .famous-package-title-top p {
    font-size: 23pt;
    font-family: inherit;
    font-weight: bolder;
    margin-top: 5rem;
    color: #556651;
}

.famous-package .famous-package-title-top span {
    font-size: 14pt;
    font-family: inherit;
    color: #8f8f8f;
    margin-bottom: 4rem;
    display: block;
}

.famous-package .famous-package-box {
    background: white;
    box-shadow: 1px 1px 10px 0px rgb(204 204 204);
    display: block;
    height: 486px;
    border-radius: 30px 30px 30px 30px;
    margin-bottom: 4rem;
}

.famous-package .famous-package-box img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 30px 30px 0px 0px;
}

.famous-package .famous-package-box p {
    text-align: center;
    font-size: 18pt;
    font-family: B koodak;
    font-weight: 700;
    margin-top: 1rem;
    margin-bottom: 0;
}

.famous-package .famous-package-box span {
    text-align: center;
    display: block;
    color: #8fb660;
    font-family: system-ui;
    font-size: 15pt;
}

.famous-package .famous-package-box .btn-famous-package {
    border: 1px solid #98bb6d;
    width: 71%;
    height: 45px;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    font-family: inherit;
    background-color: rgb(143, 182, 96);
    color: white;
    font-weight: 600;
    font-size: 11pt;
    margin: 2rem auto 0;
}

.famous-package .famous-package-box .btn-famous-package:hover {
    cursor: pointer;
    background: #253c2a;
    transition: all ease-in-out .4s;
    border: 1px solid #253c2a;
}


/* Health-care-nutrition */
.Health-care-nutrition {
    background-image: url(../img/b1feb768432c47f98a6851cecc979044.jpg);
    height: 391px;
    background-attachment: fixed;
    width: 100%;
}

.Health-care-nutrition .title-Health {
    text-align: center;
    position: relative;
    top: 10rem;
}

.Health-care-nutrition .title-Health p {
    color: white;
    font-size: 35pt;
    font-family: inherit;
    font-weight: 700;
}


/* doctor-sara start */



.doctor-sara .doctor-sara-right {
    margin-top: 5rem;
}
.doctor-sara .doctor-sara-right img{
    width: 100%;
}
.doctor-sara .doctor-sara-left p {
    font-size: 30pt;
    font-family: B koodak;
    font-weight: 500;
    margin: 0;
}

.doctor-sara .doctor-sara-left {
    margin-top: 9rem;
}

.doctor-sara .doctor-sara-left span {
    font-size: 12pt;
    color: #706f6f;
    text-align: justify;
    margin-top: 2rem;
    display: block;
}

.doctor-sara .doctor-sara-left .btn-doctor {
    border: 1px solid #98bb6d;
    width: 35%;
    height: 45px;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    font-family: inherit;
    background-color: rgb(143, 182, 96);
    color: white;
    font-size: 11pt;
    margin: 33px 33px 1px 5px;
}

.doctor-sara .doctor-sara-left .btn-doctor:hover {
    cursor: pointer;
    background: #253c2a;
    transition: all ease-in-out .4s;
    border: 1px solid #253c2a;
}

/* doctor-sara end */



/* Nutrition-certificate start */

.Nutrition-certificate {
    background-image: url(../img/back2.jpg);
    width: 100%;
    height: 307px;
    background-size: cover;
    background-repeat: no-repeat;
}

.Nutrition-certificate .Nutrition-certificate-title p:nth-child(1) {
    margin-top: 3rem;
}

.Nutrition-certificate .Nutrition-certificate-title p {
    font-size: 19pt;
    font-family: revert;
    font-weight: 700;
    text-align: center;
}

.Nutrition-certificate .btn-Nutrition-certificate {
    border: 1px solid #98bb6d;
    width: 18%;
    height: 45px;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    font-family: inherit;
    background-color: rgb(143, 182, 96);
    color: white;
    font-size: 11pt;
    margin: 39px 178px 0px 0px;
}

.Nutrition-certificate .btn-Nutrition-certificate:hover {
    cursor: pointer;
    background: #253c2a;
    transition: all ease-in-out .4s;
    border: 1px solid #253c2a;
}

/* Nutrition-certificate end */


/* meeting */



.meeting .title-top-meeting p {
    font-size: 24pt;
    font-family: B koodak;
    text-align: center;
    padding-top: 3rem;
}

.meeting .meeting-right {
    background-color: rgb(227 249 195);
    height: 247px;
    box-shadow: 1px 1px 7px 1px silver;
    margin: 32px 0;
}

.meeting .meeting-right img {
    padding: 22px 31px 0px 15px;
    border-radius: 50%;
}

.meeting .meeting-right p {
    padding: 48px 0 21px 45px;
    margin: 0;
    color: #8b8686;
    text-align: justify;
    font-size: 11pt;
    font-family: system-ui;
}

.meeting .meeting-right .border-meeting {
    border: 0.5px solid #dbdbdb;
    width: 74%;
    margin: 0 auto;
    float: left;
    position: relative;
    right: -1rem;
}

.meeting .meeting-right .meeting-icon {
    position: relative;
    right: 4rem;
    top: -16px;
}

.meeting .meeting-right .meeting-icon a {
    font-size: 14pt;
    color: #8f8282;
    padding: 0px 14px;
}

.meeting .meeting-right .meeting-icon a:hover {
    color: #689038;
}

.meeting .meeting-right .title-name-doctor {
    font-size: 15pt;
    font-family: B KOODAK;
    position: relative;
    right: 1.5rem;
    top: 1rem;
}

.meeting .meeting-right .title-name-doctor2 {
    font-size: 12pt;
    font-family: inherit;
    position: relative;
    top: 1rem;
    right: 24px;
    color: #727272;
    font-weight: bold;
}

/* meeting end */



/* Nutrition-photos */
.Nutrition-photos .container-img {
    position: relative;
    background: rgb(182 213 145);
    width: 100%;

}

.Nutrition-photos img {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    margin-top: 2rem;

}

.Nutrition-photos .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.Nutrition-photos .container-img:hover img {
    opacity: 0.3;
}

.Nutrition-photos .container-img:hover .middle {
    opacity: 1;
}

.Nutrition-photos .text {
    color: white;
    font-size: 35pt;
    font-weight: bolder;

}


/* comments */
.comments{
    background-image: url(../img/back.jpg3.png);
    width: 100%;
    background-position: right;
    height: 488px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    right: -4rem;
}

.comments .right-comment{
    height: 408px;
}

.comments .right-comment span:nth-child(1){
    display: block;
    text-align: center;
    margin-top: 5rem;
    font-size: 21pt;
    font-family: B koodak;
}

.comments .right-comment .titlt1-comment{
    display: block;
    padding: 22px 203px 17px 0px;
    text-align: justify;
    font-family: revert;
    font-size: 11pt;
    color: #7c7c7c;
}
.comments .right-comment .comment-buttom{
    display: block;
    font-size: 15pt;
    font-family: revert;
    font-weight: 600;
    position: 28px 5px 5px 0;
    padding: 10px 13rem 5px 0;
}

.comments .right-comment .titlt2-comment{
    padding: 4px 13rem 5px 5px;
    display: block;
    color: #7c7c7c;
}

.comments .right-comment img{
    float: left;
}

.span-comment{
    padding: 66px 68px 17px 0px !important;
}

.comments .comment-buttom2{
    padding: 10px 4rem 5px 0 !important;
}
.comments .right-comment .titlt2-comment2{
    padding: 4px 4rem 5px 5px !important;
}


/* daryaft-barname start */
.daryaft-barname{
    background-image: url(../img/back4.jpg);
    width: 100%;
    height: 339px;
    background-size: cover;
    background-attachment: fixed;
}

.daryaft-barname .daryaft-barname-title{
    text-align: center;
}
.daryaft-barname .daryaft-barname-title p{
    color: white;
    font-size: 33pt;
    font-family: inherit;
    font-weight: 600;
    padding: 103px 0px 34px 0px;
}
.daryaft-barname .daryaft-barname-title span.btn-daryaft-barname{
    color: white;
    font-size: 10pt;
    border: 1px solid #8fb660;
    background: #8fb660;
    border-radius: 50px;
    display: inline-block;
    width: 169px;
    height: 45px;
    line-height: 39px;
    font-family: inherit;
    margin: 0 28px;
}
.daryaft-barname .daryaft-barname-title span.btn-daryaft-barname2{
    color: black;
    border: 1px solid white;
    font-size: 9pt;
    display: inline-block;
    width: 169px;
    height: 45px;
    border-radius: 50px;
    line-height: 39px;
    background: white;
    font-family: revert;
}


.daryaft-barname .daryaft-barname-title span.btn-daryaft-barname:hover{
    cursor: pointer;
    background: #253c2a;
    transition: all ease-in-out .4s;
    border: 1px solid #253c2a;
}

.daryaft-barname .daryaft-barname-title span.btn-daryaft-barname2:hover{
    cursor: pointer;
    transition: all ease-in-out .4s;

    border: 1px solid #8fb660;
    background: #8fb660;
}
/* daryaft-barname end */ 

/* information-send start */

.information-send {
    background-image: url(../img/back5.jpg);
    width: 100%;
    height: 733px;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;

}

.information-send .information-send-right p{
    font-size: 23pt;
    font-family: B koodak;
    margin-top: 5rem;
    color: #626262;
}
.information-send .information-send-right .icon-information-send a{
    font-size: 15pt;
    color: #8fb660;
}
.information-send .information-send-right .icon-information-send span{
    font-size: 11pt;
    padding: 0 15px;
    font-family: inherit;
    color: #8d8a8a;
}

.information-send  .information p{
    font-size: 27pt;
    font-family: B koodak;
    margin-top: 5rem;
    color: #5e5c5c;
}
.information-send .information input.input-information{
    width: 88%;
    border-radius: 8px;
    border: 1px solid silver;
    font-size: 10pt;
    color: silver;
    height: 31px;
    text-align: right;
    margin-bottom: 6px;
}
.information-send .information .btn-information{
    color: white;
    font-size: 10pt;
    border: 1px solid #8fb660;
    background: #8fb660;
    border-radius: 50px;
    display: inline-block;
    width: 131px;
    height: 33px;
    line-height: 29px;
    font-family: inherit;
    margin: 14px 0px;
    text-align: center;
}

.information-send .information .btn-information:hover{
    cursor: pointer;
    background: #253c2a;
    transition: all ease-in-out .4s;
    border: 1px solid #253c2a;
}
/* information-send end */

/* footer  */
footer{
    background-color: rgb(19, 31, 43);
color: white;
}

.footer .footer-right{
    margin: 94px 0 20px 0;
}
.footer .footer-right span{
    font-size: 15pt;
    font-family: inherit;
}
.footer .footer-right p{
    font-size: 11pt;
    text-align: justify;
    padding: 22px 0px 0px 44px;
    color: #9b9b9b;
}
.footer .footer-center{
    margin: 94px 0 20px 0;
}
.footer .footer-center h4{
    font-family: inherit;
    font-size: 16pt;
   
}
.footer .footer-center  p{
    font-size: 11pt;
    color: #969b9b;
    padding: 4px 26px;
}

.footer .footer-left{
    margin: 94px 0 20px 0;
}
.footer .footer-left p{
    font-size: 15pt;
    font-family: inherit;
}

.footer .footer-left .icon-footer-send a{
    color: #8fb660;
    font-size: 14pt;
}
.footer .footer-left .icon-footer-send span{
    font-size: 11pt;
    color: #a5a5a5;
    padding: 0 22px;
}

.footer .footer-left .icon-footer-send .call-footer{
    display: block;
    padding: 14px 48px;
    color: white;
    font-size: 11pt;
}

.footer .icon-footer2{
    margin-top: 2rem;
}

.footer .footer-left .email{
    display: block;
    color: white !important;
    padding: 12px 39px !important;
}
.footer .footer-left .title-footer2{
    font-size: 16pt;
    padding: 9px 32px 0 0px;
    display: block;
}
.footer .footer-left .title-footer2 a{
    padding: 2px 12px;
    color: white;
}